 /* header */

 .header {
    padding: 10px;
  }
 
.logo img{
    width: 70px;
}

li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-family: "Inter";
    font-size: 15pt;
    color: red;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* burger */


.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    }
    
    .line {
      height: 2px;
      width: 25px;
      background-color: red;
     
    
    }
    
    .menu {
      width: 100vw;
      display: flex;
      flex-direction: column;
    position: absolute;
    right: 16px;
    text-align: right;
    
    }
    
    .hidden{
      display: none;
    }
    

    @media (width <600px) {

        .menu {
          font-family: "Inter";
          display: flex;
          justify-content: space-between;
          line-height: 3em;
        }
        
        .menu h1 {
          font-size: 25pt;
        }
        
        #logo img {
          width: 70px;
        margin-top: -10px;
        margin-left: -10px;
        } 
    }        

    @media (width <600px) {

        .desktop {
          display: none;
        
        }
        }
        
        
        @media (width >599px) {
          .menu {
        display: none;
          }
        
          .hamburger {
            display: none;
          }
        
        }

        
        /* header slut */